html {
	font-size: 12px;
}

@media screen and (min-width: 700px) {
	html {
		font-size: 16px;
	}
}

.background {
	height: 100vh;
	width: 100%;
	background-image: url("../assets/images/image-de-fond.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
header {
	padding: 30px;
}

header a {
	display: block;
	width: 26rem;
	margin: auto;
}

footer {
	text-align: center;
	color: white;
	margin-top: auto;
}
