.character-card-container {
	background: #e9daae;
	font-family: var(--font-title);
	letter-spacing: 0.05px;
	width: 250px;
	border-radius: 15px;
	border: 3px solid var(--font-color-first);
	display: flex;
	flex-direction: column;
	padding: 8px 10px;
}

.character-card-header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
}

.character-card-header h2 {
	font-size: calc(var(--font-size-M) * 1.25);
	color: var(--font-color-first);
	-webkit-text-stroke: 0.3px var(--text-stroke);
	text-align: center;
	margin: 0;
}

.character-card-button {
	background: #78662c;
	font-size: calc(var(--font-size-M) * 1.25);
	color: antiquewhite;
	border-width: 0;
	width: 25px;
	height: 20px;
	border-radius: 5px;
	grid-column: 3;
	grid-row: 1;
	justify-self: end;
	display: flex;
	justify-content: center;
	align-items: center;
}

.character-card-body-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	margin-top: 10px;
}

.character-card-body-container img {
	width: 115px;
	height: 129px;
	align-self: center;
	border-radius: 5px;
	object-fit: cover;
	object-position: top;
}

.character-card-body-container tr {
	gap: 12rem;
}

.character-card-body-container th {
	color: var(--font-color-card);
	-webkit-text-stroke: 0.2px var(--text-stroke);
	font-size: var(--font-size-S);
	padding-right: 1ch;
}

.align-to-right {
	text-align: right;
}

.character-card-body-container td {
	color: var(--font-color-first);
	-webkit-text-stroke: 0.2px var(--text-stroke);
	font-size: var(--font-size-S);
	padding-left: 1ch;
}

.character-card-body-container th,
.character-card-body-container td {
	width: 14ch;
	padding-top: 4px;
	padding-bottom: 4px;
}
