@font-face {
	font-family: "Jaini";
	src: url("../assets/font/Jaini-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Alegreya";
	src: url("../assets/fonts/Alegreya-VariableFont_wght.ttf") format("truetype");
}
