h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 85%;
	max-width: 700px;
	margin: 30px auto;
	padding: 16px 0px;
	color: white;
	border-radius: 20px;
	font-size: calc(var(--font-size-XXL) * 0.8);
	font-family: var(--font-title);
	font-weight: 100;
	line-height: 1.1;
	text-align: center;
	background-color: var(--background-all-90);
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 20px;
}

section a {
	text-decoration: none;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 16px;
	width: 60%;
	height: 70px;
	margin: 0 auto;
	background: var(--background-button);
	border-radius: 8px;
	border: none;
	font-size: calc(var(--font-size-XL) * 0.8);
	font-family: var(--font-title);
	font-weight: 100;
}

button img {
	width: 40px;
	height: 40px;
}

@media screen and (min-width: 700px) {
	h1 {
		margin: 80px auto;
	}

	section {
		flex-direction: row;
	}

	button {
		width: 100%;
		margin: 0;
	}

	button:hover {
		cursor: pointer;
		scale: 1.04;
		box-shadow: 0px 0px 10px 4px #ffffff;
		transition: all .5s;
	}
}
