/* containeur button et image*/
.marauder-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* bouton sans style*/
.button-reset {
	background: none;
	border: none;
	padding: 20px 0;
	cursor: pointer;
}

/* image du marauder*/
.marauder-map {
	width: 360px;
	height: auto;
	display: block;
}

@media screen and (max-width: 600px) {
	.marauder-map {
		width: 260px;
		height: 340px;
	}
}
