.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}
#popop-score {
	width: 100vw;
	height: 50vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
	background-image: url("../images/carte_chateau.png");
	background-size: auto 100%; /* image prend 100% de la hauteur */
	background-position: center;
	background-repeat: no-repeat;
}
#popop-score > img {
	width: 3.5rem;
	height: 3.5rem;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	background-color: #f9f3e7;
}
#popop-score article img {
	height: 3rem;
	aspect-ratio: 1 / 1;
}
#popop-score article:nth-of-type(1) {
	width: 65%;
	height: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	border: 0.25rem solid #5b4c1f;
	background-color: #e9dbae;
}
#popop-score article:nth-of-type(2) {
	width: 65%;
	height: 12%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	border: 0.25rem solid #5b4c1f;
	background-color: #e9dbae;
}
#popop-score article h2 {
	font-family: var(--font-title);
	font-size: var(--font-size-XL);
	background: linear-gradient(
		90deg,
		rgba(106, 82, 36, 1) 3%,
		rgba(155, 117, 53, 1) 13%,
		rgba(205, 152, 70, 1) 20%,
		rgba(243, 220, 116, 1) 30%,
		rgba(254, 242, 148, 1) 40%,
		rgba(244, 243, 224, 1) 50%,
		rgba(254, 242, 148, 1) 60%,
		rgba(243, 220, 116, 1) 70%,
		rgba(205, 152, 70, 1) 80%,
		rgba(155, 117, 53, 1) 100%
	);
	-webkit-background-clip: text; /* applique le fond au texte */
	-webkit-text-fill-color: transparent; /* rend la couleur du texte transparente */
}
#popop-score p {
	font-size: var(--font-size-L);
	font-family: var(--font-text);
	font-weight: bold;
}
#popop-score article:nth-of-type(1) > p:nth-of-type(1) {
	padding-top: 4%;
}
#popop-score article:nth-of-type(1) > p:nth-of-type(2) {
	padding-top: 2%;
}
#popop-score article:nth-of-type(1) > p:nth-of-type(1) {
	color: var(--border-color-second);
	-webkit-text-stroke: 1px #c8aa48;
}
#popop-score article:nth-of-type(1) > p:nth-of-type(2) {
	color: #6b5b1c;
	-webkit-text-stroke: 1px #c8aa48;
}
#popop-score article:nth-of-type(1) div:nth-of-type(1) {
	transform: translateY(-0.5vh);
}
#popop-score article:nth-of-type(1) div:nth-of-type(1) p {
	padding-left: 1.5rem;
	font-size: 1.5rem;
}
#popop-score article:nth-of-type(1) div:nth-of-type(2) p span {
	padding-left: 0.5rem;
	color: black;
}
#popop-score div {
	display: flex;
	align-items: center;
	justify-content: center;
}
#popop-score article:nth-of-type(1) div:nth-of-type(1) {
	width: 60%;
	height: 5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-top: 0.15rem solid black;
	border-bottom: 0.15rem solid black;
}
#popop-score div:nth-of-type(2) {
	gap: 2rem;
}
#popop-score article:nth-of-type(1) p:nth-of-type(4) {
	transform: translateY(-100%);
}
#popop-score article:nth-of-type(1) div:nth-of-type(2) p {
	font-size: var(--font-size-M);
	transform: translateY(-50%);
	color: #6b5b1c;
}
#popop-score article:nth-of-type(2) {
	display: flex;
	flex-direction: row;
}
#popop-score article:nth-of-type(2) button {
	height: 50%;
	aspect-ratio: 6 / 4.5;
	margin-left: 7%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #6b5b1c;
}
#popop-score article:nth-of-type(2) p {
	color: var(--border-color-second);
	-webkit-text-stroke: 1px #c8aa48;
}
