/*Responsive pour destop*/
@media screen and (min-width: 700px) {
	#popop-score {
		width: 70%;
		height: 90%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}
	#popop-score article:nth-of-type(1) {
		width: 40%;
		height: 50%;
	}

	#popop-score .stat {
		gap: 4rem;
	}

	.img-chato {
		width: 100%;
	}
}
