/*Responsive pour destop*/
@media screen and (min-width: 700px) {
	#popop-score {
		width: 90vw;
		height: 70vh;
		max-width: 1423px;
	}
	#popop-score article:nth-of-type(1) {
		width: 25%;
		height: 70%;
	}
	#popop-score article:nth-of-type(2) {
		width: 25%;
		height: 12%;
	}
	#popop-score div:nth-of-type(2) {
		gap: 4rem;
	}
}
