@import "./fonts.css";

:root {
	--background-false: rgba(127, 9, 9, 1);
	--background-true: rgba(26, 71, 42, 1);
	--background-all: rgba(25, 68, 88, 1);
	--background-all-50: rgba(25, 68, 88, 0.5);
	--background-all-80: rgba(25, 68, 88, 0.8);
	--background-all-90: rgba(25, 68, 88, 0.9);
	--background-button: linear-gradient(
		360deg,
		rgba(200, 170, 72, 1) 37%,
		rgba(120, 102, 44, 0.45) 100%
	);

	--border-color-first: linear-gradient(
		90deg,
		rgba(106, 82, 36, 1) 3%,
		rgba(155, 117, 53, 1) 13%,
		rgba(205, 152, 70, 1) 25%,
		rgba(243, 220, 116, 1) 39%,
		rgba(254, 242, 148, 1) 80%,
		rgba(244, 243, 224, 1) 94%
	);
	--border-color-second: rgba(39, 33, 13, 1);

	--text-stroke: rgba(200, 170, 72, 0.57);
	--font-color-card: rgba(94, 81, 36, 1);
	--font-color-first: rgba(0, 0, 0, 0.77);

	--font-title: "Jaini", system-ui;
	--font-text: "Alegreya", serif;

	--font-size-XL: 4rem;
	--font-size-L: 2rem;
	--font-size-M: 1rem;
	--font-size-S: 0.75rem;
}
