@keyframes cellReveal {
	0% {
		opacity: 0;
		transform: rotateY(90deg);
	}
	100% {
		opacity: 1;
		transform: rotateY(0deg);
	}
}
@keyframes sparkle {
	0%,
	100% {
		box-shadow: 0 0 0px gold;
	}
	50% {
		box-shadow: 0 0 8px gold;
	}
}
.box-false {
	background: var(--background-false);
}

.box-true {
	background: var(--background-true);
}
.nom-true {
	color: var(--background-true);
	font-weight: bold;
	background-color: antiquewhite;
}
.nom-false {
	color: var(--background-false);
	font-weight: bold;
	background-color: antiquewhite;
}
html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background-image: url("../assets/images/image-de-fond.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	overflow: auto;
}

#table-game {
	color: antiquewhite;
	border-collapse: separate;
	border-spacing: 1rem;
	table-layout: fixed;
	overflow-x: auto;
	margin: 2rem auto;
	background-color: var(--background-all-80);
	border-radius: 12px;
}

#table-game thead tr th {
	font-size: var(--font-size-XL);
	font-family: var(--font-title);
	font-weight: 100;
	text-decoration: underline;
}

#table-game tbody tr td {
	font-size: var(--font-size-L);
	font-family: var(--font-text);
	border: 3px solid transparent;
	border-image: var(--border-color-first) 1;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.cell {
	min-width: 150px;
}
.cell-principal img {
	max-height: 80px;
	max-width: 80px;
}
.cell-principal {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	max-width: 250px;
}
.cell-name {
	min-width: 250px;
	height: 50px;
}
.table-container {
	max-height: 600px;
	overflow-y: auto;
	margin: 2rem auto;
	border-radius: 12px;
}
#table-game td {
	opacity: 0;
	animation: cellReveal 1s ease-out forwards, sparkle 1s ease-in-out;
}
#table-game td:nth-child(7) {
	animation-delay: 0.4s;
}
#table-game td:nth-child(6) {
	animation-delay: 0.8s;
}
#table-game td:nth-child(5) {
	animation-delay: 1.2s;
}
#table-game td:nth-child(4) {
	animation-delay: 1.6s;
}
#table-game td:nth-child(3) {
	animation-delay: 2s;
}
#table-game td:nth-child(2) {
	animation-delay: 2.4s;
}
#table-game td:nth-child(1) {
	animation-delay: 2.8s;
}
